<h2>作品詳細</h2>
<p>
  <strong><%= User.human_attribute_name(:name) %>:</strong>
  <%= link_to "#{@work.user.name}", @work.user %>
</p>

<p>
  <strong><%= Work.human_attribute_name(:title) %>:</strong>
  <%= @work.title %>
</p>

<p>
  <strong><%= Work.human_attribute_name(:content) %>:</strong>
  <%= safe_join(@work.content.split("\n"),tag(:br)) %>
</p>

<strong>スタンプ一覧</strong>
<div id="reactions_area">
  <%# <%= render partial: 'reactions/index', locals: { reactions: @reactions, work: @work } %> %>
</div>
<% if user_signed_in? %>
  <% if @work.user_id != current_user.id %>
    <%= render partial: 'reactions/form', locals: { reaction: @reaction, work: @work } %>
    <% end %>
<% end %>

<strong>コメント一覧</strong>
<p id="notice"><%= notice %></p>
<div id="impressions_area">
  <%= render partial: 'impressions/index', locals: { impressions: @impressions, work: @work } %>
</div>

<% if user_signed_in? %>
  <% if @work.user_id == current_user.id %>
    <%= link_to 'Edit', edit_work_path(@work), class: "btn btn-outline-success btn-sm" %>
    <%= link_to 'Destroy', @work, method: :delete,data: { confirm: '削除しますか？'}, class: "btn btn-outline-danger btn-sm" %>
  <% elsif @favorite.present? %>
    <%= render partial: 'impressions/form', locals: { impression: @impression, work: @work } %>
    <%= link_to 'お気に入り解除', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
  <% else %>
    <%= render partial: 'impressions/form', locals: { impression: @impression, work: @work } %>
    <%= link_to 'お気に入り', favorites_path(work_id: @work.id), method: :post, class: 'btn btn-outline-primary btn-sm' %>
  <% end %>
<% end %>

<%= link_to 'Back', works_path, class: "btn btn-outline-primary btn-sm" %>
